<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheResult="false"
    executionOrder="default"
>
    <testsuites>
        <testsuite name="Backend">
            <directory suffix="Test.php">tests</directory>
            <directory suffix="Test.php">evals/ai-operation-strict-contract</directory>
        </testsuite>
        <testsuite name="SecurityRecoveryEvals">
            <file>evals/Tc269PromptInjectionResistanceL8Test.php</file>
            <file>evals/Tc407AsyncTaskRecoveryL8Test.php</file>
            <file>evals/seventh-batch/Tc104CredentialCiphertextTamperL8EvalTest.php</file>
            <file>evals/seventh-batch/Tc387CorsOriginRestrictionL8EvalTest.php</file>
            <file>evals/seventh-batch/Tc404ExternalDependencyTimeoutL8EvalTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">app/service</directory>
            <directory suffix=".php">app/controller</directory>
        </include>
    </source>
</phpunit>
