SUXIOS_CLOUD_OTA_OWNER_USER_ID=REPLACE_WITH_EXECUTION_OWNER_USER_ID
SUXIOS_CLOUD_OTA_CTRIP_SOURCE_ID=REPLACE_WITH_CTRIP_DATA_SOURCE_ID
SUXIOS_CLOUD_OTA_CTRIP_PROFILE_ID=cbp_replace_with_ctrip_profile_id
SUXIOS_CLOUD_OTA_MEITUAN_SOURCE_ID=REPLACE_WITH_MEITUAN_DATA_SOURCE_ID
SUXIOS_CLOUD_OTA_MEITUAN_PROFILE_ID=cbp_replace_with_meituan_profile_id
