SUXIOS_CLOUD_OTA_OWNER_USER_ID=1
SUXIOS_CLOUD_OTA_CTRIP_SOURCE_ID=5
SUXIOS_CLOUD_OTA_CTRIP_PROFILE_ID=cbp_replace_with_ctrip_profile_id
SUXIOS_CLOUD_OTA_MEITUAN_SOURCE_ID=6
SUXIOS_CLOUD_OTA_MEITUAN_PROFILE_ID=cbp_replace_with_meituan_profile_id
