[Unit]
Description=Start SUXIOS Dingdandao PMS collection every hour

[Timer]
OnCalendar=*-*-* *:20:00 Asia/Shanghai
RandomizedDelaySec=0
Persistent=false
Unit=suxios-dingdandao-collection.service

[Install]
WantedBy=timers.target
